doctype html
html(lang="en")
   head
   body
      div(id="videoStreamInfo")
      canvas(style="display:none;" id="canvasView")
      video(src="" id="video" autoplay="true")


      script(src="https://code.jquery.com/jquery-3.2.1.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
      script(src="/js/main.js")
